@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* beautiful scrollbars */
*::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.noscroll::-webkit-scrollbar,
.noscroll::-webkit-scrollbar-track,
.noscroll::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: none;
  }
}

.animated-underline {
  position: relative;
}

.animated-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.active::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.voucher-border {
  background: linear-gradient(
    #eaeaef,
    #eaeaef 12px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 15px;
  height: 100%;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    transform: translate(-45%, -50%);
    @apply border;
  }
  &::after {
    top: auto;
    bottom: 0;
    transform: translate(-45%, 50%);
  }
}

* {
  scroll-behavior: smooth;
}
